input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

/*COLORS*/
.blue_cl {
    color: #0F43F9;
}

/*ICONS*/
.action-icon {
    cursor: pointer;
}
.btn-action {
    width: 10rem;
}